@page "/all-tasks"

<PageTitle> All Tasks </PageTitle>

@* <MudText Align="Align.Center">
    <h1>Overview</h1>
</MudText> *@

<MudGrid Justify="Justify.Center">
    <MudItem sm="8" Style="margin-top: 20px">
        @* <MudPaper Width="100%" Elevation="3" Style="margin-top: 10px"> *@
            <MudGrid Justify="Justify.FlexStart">
                <MudItem sm="8">
                    <MudText Typo="Typo.h5" GutterBottom="false" Align="Align.Left" Style="margin-left: 10px"> <b>All Tasks</b></MudText>
                </MudItem>
            </MudGrid>
                @if (HasLists)
                {
                    
                    @if (!HasTasks) 
                    {
                        <MudText Align="Align.Center" Typo="Typo.overline" Style="margin-left: 10px">
                            This List Is Empty, Add Some Tasks!
                    </MudText>
                    }
                    else
                    {   
                        <MudStack Spacing="5"> 
                        @foreach (var task in tasks)
                        {
                        <TaskChunk Task="@task"
                                   OnDelete="HandleDeleteTask"
                                   OnEdit="HandleEditTask"
                                   OnStartEdit="StartEdit"
                                   OnCheck="(() => HandleCheckTask(task))">
                        </TaskChunk>

                    }
                        </MudStack>
                    
                    }
                }
                else
                {
                    <MudText Align="Align.Center" Typo="Typo.overline" Style="margin-left: 10px">
                        No Lists Found. Create A List And Add Some Tasks!
                    </MudText>
                }
            
            <MudGrid Justify="Justify.Center">
                <MudItem sm="9">
                    <MudTextField @bind-Value="newTask.Description" Label="Enter a new task" Variant="Variant.Outlined" Clearable="true" Style="margin-top: 10px; margin-bottom: 10px"></MudTextField>
                </MudItem>
                <MudItem sm="3">
                    <MudSelect T="string" Label="Select List" Variant="Variant.Text" @bind-Value="selectedListName" AnchorOrigin="Origin.CenterRight" TransformOrigin="Origin.CenterLeft">
                        @foreach (var item in masterList)
                        {
                            <MudSelectItem Value="@item.Name">@item.Name</MudSelectItem>
                        }
                    </MudSelect>

                </MudItem>
            </MudGrid>
        
            <MudButton OnClick="HandleCreateTask" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Rounded.AddCircleOutline">Add Task</MudButton>
        @* </MudPaper> *@
    </MudItem>
</MudGrid>
