@page "/"

<PageTitle>Home</PageTitle>

<MudText Align="Align.Center"> 
    <h1>Our Goal</h1>
    <h4>ThoughtHarbour is designed to be your external thought repository, capturing ideas swiftly before they drift away. 
        With a focus on ease and simplicity, it ensures no obstacles stand in your way of jotting down tasks, reminders, or fleeting thoughts.
        ThoughtHarbour anchors your fleeting ideas, providing a safe dock for every thought until you're ready to set sail with them.</h4>
</MudText>

<script src="_content/MudBlazor/MudBlazor.min.js"></script>