@page "/"

<PageTitle>Home</PageTitle>

<MudText Align="Align.Center"> 
    <h1>Welcome To Taskify!</h1> 
    <h3>A web-application for your organizational needs.</h3>
</MudText>

<script src="_content/MudBlazor/MudBlazor.min.js"></script>